.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.App-main {
  background: #ffef3d;
  min-height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.App-footer {
  background: #282c34;
  display: flex;
  margin: 0;
  padding: 0;
}

hr {
width: 300px;
height: 2px;
background-color:#666;
opcaity: 0.5;
}
